{% extends 'emails/email_base.html.twig' %}



{% block email_title %}
	<title>Message envoyé depuis le formulaire de contact</title>
{% endblock %}



{% block email_header_title %}																		                        
	<h1 style="margin: 0px;">{{ subject }}</h1>
{% endblock %}


																						                        
{% block email_content %}													                            
	<p>Salut,</p>

	<p>
		Un utilisateur nous contacte depuis le site.<br />
		Voici son message :
	</p>

	<p>
		<blockquote style="border-left: solid 3px #DFDFDF; padding-left: 10px;">
			{{ message|nl2br }}
		</blockquote>
	</p>

	<p>
		Voici les informations de cet utilisateur :<br />
		- Nom : {{ name }},<br />
		- Email : {{ email }},<br />
		- Système : {{ browser }}
	</p>

	<p>
		À bientôt,<br />
		Votre robot préféré !
	</p>
{% endblock %}