{% trans_default_domain 'email_new_password' %}
{% extends 'emails/email_base.html.twig' %}



{% block email_title %}
	<title>{{ 'email.new_password.meta.title'|trans }}</title>
{% endblock %}



{% block email_header_title %}
	<h1 style="margin: 0px;">{{ 'email.new_password.meta.title'|trans }}</h1>
{% endblock %}



{% block email_content %}
	<p>{{ 'email.new_password.text.hi_first_name'|trans({'%first_name%': first_name}) }},</p>

	<p>
		{{ 'email.new_password.text.new_password_request'|trans({'%strime%': '<a href="' ~ absolute_url( '/' ) ~ '" title="Strime" target="_blank" style="color: #1DAC9A; text-decoration: none;">Strime</a>'})|raw }}
		<br />
		{{ 'email.new_password.text.if_not_requested'|trans }}
	</p>

	<p>
		{{ 'email.new_password.text.reset_password'|trans }}
	</p>

	<a href="{{ url('reset_pwd', {'user_id': user_id, 'token': token, 'locale': app.request.locale}) }}" title="{{ 'email.new_password.button.reset_password'|trans }}" style="text-decoration: none; margin-top: 20px;">
		<button style="display: block; background-color: #0CAC9A; border: none; border-radius: 5px; width: auto; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: auto; text-transform: uppercase; color: #FFF; font-size: 18px; cursor: pointer; margin-top: 20px; margin-bottom: 20px;">
			{{ 'email.new_password.button.reset_password'|trans }}
		</button>
	</a>

	<p>
		{{ 'email.new_password.text.see_you_soon'|trans }},<br />
		{{ 'email.new_password.text.strime_team'|trans }}
	</p>
{% endblock %}
