{% trans_default_domain 'front_header' %}

<!-- Header -->
<div id="header">
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-4">
				<a href="{{ url('home') }}" title="Strime">
					<img src="{{ asset('bundles/strimefront/img/logo-strime-full-white.svg') }}" alt="Strime" title="Strime" id="logo">
				</a>
			</div>
			<div class="col-sm-8">
				<ul id="main-menu">
                    <li>
                        <a href="http://blog.strime.io" title="{{ 'front.header.title.strime_the_blog'|trans }}" target="_blank">
							{{ 'front.header.item.blog'|trans }}
						</a>
                    </li>
                    <li>
                        <a href="#" class="login" title="{{ 'front.index.title.login'|trans }}" data-toggle="modal" data-target="#loginModal" data-backdrop="false" data-keyboard="false">
							{{ 'front.header.link.login'|trans }}
						</a>
                    </li>
                    <li>
                        <button class="signup" data-toggle="modal" data-target="#signupModal" data-backdrop="false" data-keyboard="false">
							{{ 'front.header.button.signup'|trans }}
						</button>
                    </li>
                </ul>
                <div class="clear"></div>
			</div>
		</div>
	</div>
</div><!-- ./Header -->
