<div id="admin-menu">
    <ul>
    	<li>
    		<a href="{{ path('admin_dashboard') }}" title="Dashboard">Dashboard</a>
    	</li>
        <li>
            <a href="{{ path('admin_users') }}" title="Utilisateurs">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('admin_videos') }}" title="Vidéos">Vidéos</a>
        </li>
        <li>
            <a href="{{ path('admin_images') }}" title="Images">Images</a>
        </li>
        <li>
            <a href="{{ path('admin_audios') }}" title="Audios">Audio</a>
        </li>
        <li>
            <a href="{{ path('admin_new_features') }}" title="Nouvelles fonctionnalités">Nouvelles fonctionnalités</a>
        </li>
        <li>
            <a href="{{ path('admin_offers') }}" title="Offres">Offres</a>
        </li>
        <li>
            <a href="{{ path('admin_invoices') }}" title="Factures">Factures</a>
        </li>
    </ul>
</div><!-- ./Admin menu -->
