{% trans_default_domain 'back_profile_password' %}
{% extends '::back_base.html.twig' %}

{% block link_canonical %}
    <link rel="canonical" href="{{ url('app_profile_password', {}, TRUE) }}" />
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ 'back.profile_password.meta.description'|trans }}">
    <meta name="author" content="Strime">
    <meta name="keywords" content="{{ 'back.profile_password.meta.keywords'|trans }}">
    <meta name="google-signin-client_id" content="59471169232-igm9oedpkpc0f1spqmrj2nffqd1hj93f.apps.googleusercontent.com">
{% endblock %}

{% block title %}{{ 'back.profile_password.meta.title'|trans }} | Strime{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/strimeback/css/profile.css' filter='cssrewrite'
        'bundles/strimeglobal/css/sub-menu.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
	{{ parent() }}

	{% include 'back_header.html.twig' %}
    {% include 'StrimeBackBundle:App:profile-menu.html.twig' %}


    <!-- Wrapper full -->
    <div class="wrapper-full">

    	<!-- Profile container -->
    	<div id="profile-container">

    		<div id="profile-inner">

                {{ form_start(edit_profile_password_form, {'action': path('app_profile_password'), 'attr': {'id': 'edit-profile-password-form', 'novalidate': true} }) }}

                    {{ form_widget(edit_profile_password_form.old_password, {'translation_domain': 'back_controller_app'}) }}
                    {{ form_widget(edit_profile_password_form.new_password, {'translation_domain': 'back_controller_app'}) }}

                    {{ form_widget(edit_profile_password_form.submit, { 'label': 'back.profile_password.button.validate_new_pwd', 'translation_domain': 'back_profile_password' }) }}

                    <div class="loader-container">
                        <div class="loader-pulse">
                            {{ 'back.profile_password.loader.loading'|trans }}...
                        </div>
                    </div>

                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}

                {{ form_end(edit_profile_password_form) }}

    		</div><!-- ./Profile inner -->

    	</div><!-- ./Profile container -->

    </div><!-- ./Wrapper full -->

{% endblock %}


{% block footer %}
	{{ parent() }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
        const ajaxIsLoggedInURL = "{{ url('app_ajax_is_logged_in', {}, TRUE) }}";
    </script>

    {% javascripts
        '@StrimeGlobalBundle/Resources/public/js/is-logged-in.js' filter='?uglifyjs2'
        '@StrimeFrontBundle/Resources/public/js/main.js' filter='?uglifyjs2'
        '@StrimeBackBundle/Resources/public/js/profile/profile.js' filter='?uglifyjs2'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
